{% load i18n %}
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load static %}

{% block header %}
<a href="javascript:;" class="active">{% trans "Authority Management" %}</a>
{% endblock %}

{% block action %}
<a class="roll-nav roll-right extra-right-btns pull-right" style="width: 150px"
   href="{% url 'permissions:uri_group_create' %}">
    <i class="fa fa-plus"></i>
    {% trans "Add new URI SubGroup" %}
</a>
{% endblock %}

{% block main %}
<div class="wrapper wrapper-content">
    <div class="extra-box-content">
        {% render_table table "table.html" %}
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(".perms-uri-group-delete").on("click", function () {
        var $this = $(this);
        var entity_id = $this.data("entity_id");
        swal({
            title: gettext("Are you sure you want to delete it"),
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonColor: "#ff6700",
            confirmButtonText: gettext("delete"),
            cancelButtonText: gettext("cancel"),
            closeOnConfirm: false,
            closeOnCancel: true
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    method: "DELETE",
                    url: "{{ request.get_full_path }}",
                    data: {entity_id: entity_id},
                    dataType: "json",
                    success: function (data) {
                        if (data.state) {
                            swal({
                                title: gettext("delete succeeded!"),
                                type: "success",
                                timer: 800,
                                showCancelButton: false,
                                showConfirmButton: false
                            });
                            $this.parent().parent().css("display", "none");
                        } else {
                            swal({
                                title: gettext("failed to delete!"),
                                type: "danger",
                            });
                        }
                    }
                });
            }
        });
    });
</script>
{% endblock %}
