{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load static %}
{% load i18n %}

{% block header %}
<a href="javascript:;" class="active">{% trans "Authority Management" %}</a>
{% endblock %}

{% block action %}
<a class="roll-nav roll-right extra-right-btns pull-right" style="width: 150px"
   href="{% url 'permissions:uri_group_create' %}">
    <i class="fa fa-plus"></i>
    {% trans "Add new URI SubGroup" %}
</a>
{% endblock %}

{% block main %}
<div class="wrapper wrapper-content">
    <div class="extra-box-content">
        {% render_table table "table.html" %}
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/app/uri_group_list.js' %}"></script>
{% endblock %}
