{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block header %}
<a href="javascript:;" class="active">{% trans "List item management" %}</a>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock %}


{% block action %}
<a class="roll-nav roll-right extra-right-btns pull-right" data-toggle="modal" data-target="#setEvent">
    <i class="fa fa-plus"></i>
    {% trans "Add" %}
</a>
{% endblock %}


{% block main %}
<div class="wrapper wrapper-content">
    <div class="extra-box-content">
        {% render_table table "table.html" %}
    </div>
</div>


<div class="modal inmodal fade" id="setEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% trans "Add List Items" %}
            </div>
            <div class="modal-body">
                <label for="id_event_name">{% trans "ProjectName" %}</label>
                <input class="form-control" id="id_event_name" type="text" name="event_name" placeholder="{% trans 'Project Name' %}">
                <span id="id-event_name-error" class="help-block" style="color:darkred"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" id="eventSave" class="btn btn-primary" data-uri="{% url 'menus:event_create' %}">
                    {% trans "Save" %}
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
{{ block.super }}
{% include "datepicker.html" %}
{% include "menu/batch_delete.html" %}
<script type="text/javascript" src="{% static 'js/app/event_list.js' %}"></script>
{% endblock %}
