{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
{{ block.super }}


{% endblock %}


{% block header %}
<a href="javascript:;" class="active">{% trans "Period frequency control strategy configuration" %}</a>
{% endblock %}


{% block action %}
<a class="roll-nav roll-right extra-right-btns pull-right" href="{% url 'strategy:freq_strategy_test' %}">
    <i class="fa fa-cog"></i>
    {% trans "Online simulation" %}
</a>
<a class="roll-nav roll-right extra-right-btns pull-right" href="{% url 'strategy:freq_strategy_create' %}">
    <i class="fa fa-plus"></i>
    {% trans "Add" %}
</a>
{% endblock %}


{% block main %}
<div class="wrapper wrapper-content">
    <div class="extra-search-form">
        {% crispy filter_form %}
    </div>
    <div class="extra-box-content">
        {% render_table table "table.html" %}
    </div>
</div>

{% endblock %}


{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/app/freq_strategy_list.js' %}"></script>
{% endblock %}
