<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% url 'permissions:index' as permissions_index %}
{% url 'permissions:users' as permissions_users %}
{% url 'permissions:groups' as permissions_groups %}
{% url 'permissions:uri_groups' as permissions_uri_groups %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

    <title>{% trans "Wind control management" %}</title>
    <link type="media_type" rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <script type="text/javascript" src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'widget/datetimepicker/bootstrap-datetimepicker.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'widget/datetimepicker/datetimepicker.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    <link type="text/css" href="{% static 'css/multi-select.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/filter-form.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/pagination.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/jquery.searchableSelect.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/main.css' %}?v=3" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout extra-main-bg" style="overflow:hidden">
<div id="wrapper">
    <!--Sidebar-->
    {% include 'siderbar.html' %}

    <div id="extra-main-page" class="extra-main-bg">
        <nav class="navbar navbar-default extra-navbar-default">
            <div class="container-fluid">
                <div class="row extra-nav">
                    <div class="col-md-8 extra-tab-title">
                        {% block header %}
                        <a>{% trans "Wind Control Management Center" %}</a>
                        {% endblock %}
                    </div>
                    <div class="col-md-4">
                        {% block action %}{% endblock %}
                    </div>
                </div>
            </div>
        </nav>

        {% block content %}
        <div class="row" id="content-main">
            {% block main %} {% endblock %}
        </div>
        {% endblock %}
    </div>
</div>

<script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
<script type="text/javascript" src="{% static 'js/content.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/layer/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.searchableSelect.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.multi-select.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.quicksearch.js' %}"></script>
<script type="text/javascript" src="{% static 'widget/datetimepicker/bootstrap-datetimepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/default_time.js' %}"></script>
<!--Custom JS-->
<script type="text/javascript" src="{% static 'js/uri_scene.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

{% block js %}{% endblock %}

</body>
</html>
