{% load i18n %}
{% load django_tables2 %}
{% load static %}

{% trans "Total query out: " %}{{ record_count }}{% trans " Bar data" %}

{% if is_paginated %}
{% if enable_page_size_config %}
<style type="text/css">
    .count-container {
        text-align: right;
        padding-top: 15px;
    }

    .count-container select {
        width: 50px;
    }
</style>
<div class="count-container">
    {% trans "Show per page" %}
    <select name="count" id="change-count">
        {% for value in page_values %}
        <option value="{{ value }}" {% if value == page_size %} selected {% endif %}>{{ value }}</option>
        {% endfor %}
    </select>
    {% trans "Bar data" %}
</div>
<script type="text/javascript" src="{% static 'js/app/pagination.js' %}"></script>
{% endif %}

<div class="pagination">
    <div class="goto" id="goto">
        <input type="text" value="" class="num"/>
        <a href="" data-href="{% querystring table.prefixed_page_field='' %}">{% trans "Jump page " %}</a>
    </div>

    <div class="page-show">
        {% block pagination.previous %}
        {% if page_obj.has_previous %}
        <a href="{% querystring table.prefixed_page_field=page_obj.previous_page_number %}" class="prev">{{
            previous_link_decorator|safe }}{% trans "Previous" %}</a>
        {% endif %}
        {% endblock pagination.previous %}

        {% block pagination.cardinality %}
        {% for page in pages %}

        {% if page %}
        {% ifequal page page_obj.number %}
        <span class="current page">{{ page }}</span>
        {% else %}
        <a href="{% querystring table.prefixed_page_field=page %}" class="page">{{ page }}</a>
        {% endifequal %}
        {% else %}
        ...
        {% endif %}

        {% endfor %}
        {% endblock pagination.cardinality %}

        {% block pagination.next %}

        {% if page_obj.has_next %}
        <a href="{% querystring table.prefixed_page_field=page_obj.next_page_number %}" class="next">
            {% trans "Next" %}
            {{next_link_decorator|safe }}</a>
        {% endif %}

        {% endblock pagination.next %}
    </div>
</div>

<script type="text/javascript" src="{% static 'js/app/pagination_main.js' %}"></script>

{% endif %}
