{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block header %}
<a href="javascript:;" class="active">{% trans "Data source list" %}</a>
{% endblock %}


{% block action %}
<a class="roll-nav roll-right extra-right-btns pull-right" data-toggle="modal" data-target="#setValue">
    <i class="fa fa-plus"></i>
    {% trans "Add" %}
</a>
{% endblock %}


{% block main %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<div class="wrapper wrapper-content">
    <div class="extra-search-form">
        {% crispy filter_form %}
    </div>
    <div class="extra-box-content">
        {% render_table table "table.html" %}
    </div>
</div>


<div class="modal inmodal fade" id="setValue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{% trans "Add data source" %}</h2>
            </div>
            <div class="modal-body">
                {{ create_form.name_key }}
                <span id="id-name_key-error" class="help-block" style="color:darkred"></span>
                <div class="hr-line-dashed"></div>
                {{ create_form.name_show }}
                <span id="id-name_show-error" class="help-block" style="color:darkred"></span>
                <div class="hr-line-dashed"></div>
                {{ create_form.content }}
                <span id="id-content-error" class="help-block" style="color:darkred"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" id="valueSave" class="btn btn-primary"
                        data-uri="{% url 'config:source_create' %}">{% trans "Save" %}
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
{{ block.super }}
{% include "datepicker.html" %}
{% include "menu/batch_delete.html" %}
<script type="text/javascript" src="{% static 'js/app/source_list.js' %}"></script>
{% endblock %}
