{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block css %}
{{ block.super }}
{{ form.media }}
{% endblock %}


{% block header %}
<a href="javascript:;" class="active">{% trans "Add Rules" %}</a>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock %}

{% block action %}
<a class="roll-nav roll-right extra-right-btns pull-right" href="{% url 'rule:list' %}">
    <i class="fa fa-reply"></i>
    {% trans "Return" %}
</a>
{% endblock %}


{% block main %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox extra-float-margins">
                <div class="extra-box-content">
                    <form method="post" class="form-horizontal" id="menu_create_form"
                          action="{{ request.get_full_path }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{% trans "Rule name" %}</label>
                            <div class="col-sm-10">
                                {{ form.title }}
                                <span id="id-title-error" class="help-block" style="color:darkred"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{% trans "Rule description" %}</label>
                            <div class="col-sm-10">
                                {{ form.describe }}
                                <span id="id-describe-error" class="help-block" style="color:darkred"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{% trans "Status" %}</label>
                            <div class="col-sm-10">
                                {{ form.status }}
                                <span id="id-status-error" class="help-block" style="color:darkred"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{% trans "End Time" %}</label>
                            <div class="col-sm-10">
                                <input class="form-control datetime" id="id_end_time" name="end_time"
                                       type="datetime-local">
                                <span id="id-end_time-error" class="help-block" style="color:darkred"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="modal inmodal fade" id="choose-strategy" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1>{% trans "Policy Choice" %}</h1>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="ibox">
                                                <div class="extra-box-content">
                                                    <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        {% trans "To be selected" %}
                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        Selected (draggable sort)</h3>
                                                    <select multiple="" class="searchable" name="searchable[]"
                                                            id="89multiselect"
                                                            style="position: absolute; left: -9999px;">
                                                        {% for uuid, strategy in strategys %}
                                                        <option id={{ uuid }}>{{ strategy}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">{% trans "Close" %}</button>
                                        <button type="button" id="save-strategy" class="btn btn-primary"
                                                onclick="save_strategys()">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <table id="rule-list" class="table table-bordered">
                                <tr id="list-0" hidden>
                                    <td width="5%">
                                        <button class="btn fa fa-minus" type="button"
                                                onclick="delete_rule(this)"></button>
                                    </td>
                                    <td width="15%">
                                        <textarea class="form-control group-name" placeholder="{% trans 'PolicyGroup Name' %}"
                                                  data-autoresize rows="1"></textarea>
                                    </td>
                                    <td width="10%">
                                        <input type="number" class="form-control weight" placeholder="{% trans 'Weight' %}"/>
                                    </td>
                                    <td width="10%">
                                        <a class="strategy-choose" href="#choose-strategy" data-toggle="modal"
                                           data-list-id="list-0">{% trans "Policy Choice" %}</a>
                                    </td>
                                    <td width="35%">
                                        <label class="strategy" style="text-align:left"></label>
                                    </td>
                                    <td width="10%">
                                        {{ form.control }}
                                    </td>
                                    <td width="20%">
                                        <div class="custom">
                                            {{ form.custom }}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <span id="id-strategys-error" class="help-block" style="color:darkred"></span>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-info" onclick="create_rule()" type="button">{% trans "Add Policy" %}</button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}
<script>
    $(document).ready(function () {
        $(".sortable-list").sortable({connectWith: ".connectList"}).disableSelection()
    });
</script>

{% include "datepicker.html" %}
<script type="text/javascript" src="{% static 'js/app/rules_create.js' %}"></script>

{% endblock %}
