{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
{{ block.super }}

<style>
    .err-msg {
        font-size: 10px;
        font-style: italic;
        color: red;
    }
</style>
{{ form.media }}
{% endblock %}

{% block header %}
<a href="javascript:;" class="active">{% trans "Rule details" %}</a>
{% endblock %}

{% block action %}
<a id='id_edit_rule' class="roll-nav roll-right extra-right-btns pull-right">
    <i class="fa fa-cog"></i>
    {% trans "Edit" %}
</a>
<a class="roll-nav roll-right extra-right-btns pull-right" href="{% url 'rule:list' %}">
    <i class="fa fa-reply"></i>
    {% trans "Return" %}
</a>
{% endblock %}


{% block main %}

<div class="row">
    <div class="col-sm-12">
        <div class="extra-box-content p-xl" style="min-height: 400px;">
            <div class="row">
                <div class="col-sm-6">
                    <address>
                        <strong>{% trans "Rule Name:" %}</strong> {{ rule.title }}<br>
                        <strong>{% trans "Rule Description:" %}</strong> {{ rule.describe }}<br>
                        <strong>{% trans "Rule Status:" %}</strong> {% if rule.status == "on" %} Open {% else %} {% trans "Close" %} {% endif %}<br>
                    </address>
                </div>

                <div class="col-sm-6">
                    <address>
                        <strong>{% trans "Rule ID:" %}</strong> <label class="text-danger">{{ rule.id }}</label><br>
                        <strong>{% trans "Rule EndTime:" %}</strong> <label class="text-danger">{{ rule.end_time }}</label><br>
                    </address>
                </div>
            </div>

            <div class="table-responsive m-t">
                <table class="table invoice-table" style="word-break:break-all; word-wrap:break-word;">
                    <thead>
                    <tr>
                        <th>{% trans "PolicyGroupNameCall" %}</th>
                        <th>{% trans "Weight" %}</th>
                        <th>{% trans "PolicyGroupList" %}</th>
                        <th>{% trans "Projectmanagement" %}</th>
                        <th>{% trans "Customer service skills" %}</th>
                        <th>{% trans "Operation" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rule in rule.rule_list %}
                    <tr>
                        <td style="width: 10%">{{ rule.group_name }}</td>
                        <td style="width: 5%">{{ rule.weight }}</td>
                        <td style="width: 45%">
                            <div><strong>{{ rule.strategy_name }}</strong></div>
                        </td>
                        <td style="width: 10%">{{ rule.control_display }}</td>
                        <td style="width: 20%">{{ rule.custom }}</td>
                        <td style="width: 10%">
                            <a href="#" data-toggle="modal" data-target="#setThreshold"
                               data-strategy_index="{{ forloop.counter }}"
                               data-strategy_list="{{ rule.strategy_list_str }}">{% trans "Edit Threshold" %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="setThreshold" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{% trans "Modifying Threshold" %}</h2>
            </div>
            <div class="modal-body">
                <table class="table invoice-table">
                    <thead>
                    <tr>
                        <th style="width: 60%">{% trans "Policy" %}</th>
                        <th style="width: 40%">{% trans "Thresholds" %}</th>
                    </tr>
                    </thead>
                    <tbody id="thresholdModalBody">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" id="thresholdSave" class="btn btn-primary"
                        data-uri="{% url 'rule:threshold_edit' %}"
                        data-id="{{ rule.uuid }}">{% trans "Save" %}
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}

<script type="text/javascript" src="{% static 'js/app/rules_detail.js' %}"></script>

{% endblock %}
