{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block css %}
{{ block.super }}
<style>
    .action-button {
        margin-right: 20px;
    }
</style>
{% endblock %}


{% block header %}
<a href="javascript:;" class="active">{% trans "Rule configuration" %}</a>
{% endblock %}


{% block action %}
<a class="roll-nav roll-right extra-right-btns pull-right" href="{% url 'rule:test' %}">
    <i class="fa fa-cog"></i>
    {% trans "Test Rule" %}
</a>
<a class="roll-nav roll-right extra-right-btns pull-right" href="{% url 'rule:create' %}">
    <i class="fa fa-plus"></i>
    {% trans "Add" %}
</a>
{% endblock %}


{% block main %}
<div class="wrapper wrapper-content">
    <div class="extra-search-form">
        {% crispy filter_form %}
    </div>
    <div class="extra-box-content">
        {% render_table table "table.html" %}
    </div>
</div>

<div class="modal inmodal fade" id="show-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{% trans "Rule Details" %}</h2>
            </div>
            <div class="modal-body">
                <label class="form-control control-label" id="detail-title"></label>
                <div class="hr-line-dashed"></div>
                <label class="form-control control-label" id="detail-describe"></label>
                <div class="hr-line-dashed"></div>
                <label class="form-control control-label" id="detail-status"></label>
                <div class="hr-line-dashed"></div>
                <label class="form-control control-label" id="detail-end_time"></label>
                <div class="hr-line-dashed"></div>
                <ul id="detail-list">
                    <li style="display: none;">
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/app/rules_list.js' %}"></script>
{% endblock %}
