{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block css %}
{{ block.super }}


{{ form.media }}
{% endblock %}

{% block header %}
<a href="javascript:;" class="active"> {% trans "Test rules" %}</a>
{% endblock %}

{% block action %}
<a class="roll-nav roll-right extra-right-btns pull-right" href="{% url 'rule:list' %}">
    <i class="fa fa-reply"></i>
     {% trans "Return" %}
</a>
{% endblock %}


{% block main %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox extra-float-margins">
                <div class="extra-box-content">
                    <form method="post" class="form-horizontal" id="menu_create_form"
                          action="{{ request.get_full_path }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{% trans "Rule name" %}</label>
                            <div class="col-sm-9">
                                {{ form.rule }}
                                <span id="id-strategy-error" class="help-block" style="color:darkred"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> {% trans "Request body" %}</label>
                            <div class="col-sm-9">
                                {{ form.req_body }}
                                <span id="id-req_body-error" class="help-block" style="color:darkred"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit"> {% trans "Test" %}</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="extra-box-content">
                    <div id="resultArea"></div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
{{ block.super }}

<script type="text/javascript" src="{% static 'js/app/rules_test.js' %}"></script>
{% endblock %}
