{% load i18n %}
{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block header %}
<a href="javascript:;" class="active">Data source list</a>
{% endblock %}


{% block action %}
<a class="roll-nav roll-right extra-right-btns pull-right" data-toggle="modal" data-target="#setValue">
    <i class="fa fa-plus"></i>
    Add
</a>
{% endblock %}


{% block main %}
<div class="wrapper wrapper-content">
    <div class="extra-search-form">
        {% crispy filter_form %}
    </div>
    <div class="extra-box-content">
        {% render_table table "table.html" %}
    </div>
</div>


<div class="modal inmodal fade" id="setValue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Add data source</h2>
            </div>
            <div class="modal-body">
                {{ create_form.name_key }}
                <span id="id-name_key-error" class="help-block" style="color:darkred"></span>
                <div class="hr-line-dashed"></div>
                {{ create_form.name_show }}
                <span id="id-name_show-error" class="help-block" style="color:darkred"></span>
                <div class="hr-line-dashed"></div>
                {{ create_form.content }}
                <span id="id-content-error" class="help-block" style="color:darkred"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" id="valueSave" class="btn btn-primary"
                        data-uri="{% url 'config:source_create' %}">Save
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
{{ block.super }}
{% include "datepicker.html" %}
{% include "menu/batch_delete.html" %}
<script>
    $(function () {
        // Add
        $('#valueSave').click(function () {
            var _this = $(this);
            var uri = _this.data('uri'),
                name_key = $("#id_name_key").val(),
                name_show = $("#id_name_show").val(),
                content = $("#id_content").val();
            $.ajax({
                url: uri,
                data: {
                    'name_key': name_key,
                    'name_show': name_show,
                    'content': content,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "json",
                type: "POST",
                success: function (resp) {
                    if (resp.state) {
                        window.location.reload();
                    } else {
                        var error = resp.error;
                        for (var name in error) {
                            $("#id-" + name + "-error").html(error[name][0]);
                        }
                    }
                },
                error: function (err) {
                    if (err.statusText !== 'abort') {
                        swal({
                            title: "Oops, something went wrong",
                            type: "error",
                            confirmButtonColor: "#1ab394"
                        });
                    }
                }
            })
        });
        //delete
        $('.source-destroy').click(function () {
            var _this = $(this),
                uri = _this.data('uri'),
                key = _this.data('name_key');
            swal({
                title: "Are you sure you want to delete it",
                type: "warning",
                allowOutsideClick: true,
                showCancelButton: true,
                confirmButtonColor: "#ff6700",
                confirmButtonText: "delete",
                cancelButtonText: "cancel",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: uri,
                    data: {
                        'name_key': key,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: "json",
                    type: "POST",
                    success: function (resp) {
                        if (resp.state) {
                            window.location.reload();
                        } else {
                            swal({
                                title: resp.error,
                                type: "error",
                                confirmButtonColor: "#ff6700"
                            });
                        }
                    },
                    error: function (err) {
                        if (err.statusText !== 'abort') {
                            swal({
                                title: "failed to delete",
                                type: "error",
                                confirmButtonColor: "#ff6700"
                            });
                        }
                    }
                })
            });
        });
        // Error prompt reset
        $("#id_name_key").focus(function () {
            $("#id-name_key-error").html("");
        });
        $("#id_name_value").focus(function () {
            $("#id-name_value-error").html("");
        });
        $("#id_content").focus(function () {
            $("#id-content-error").html("");
        });
    });
</script>
{% endblock %}
